

//=================================namespace=============================
#include<iostream>
using namespace std;
namespace cybrom{
    
    void student(){
        cout<<"cybrom student"<<endl;
    }
    
namespace bhopal{
    
    void student(){
        
        cout<<"bhopal student"<<endl;
    }
} 
void show(){
    
    cout<<"first program"<<endl;
}
class iostream{
    
    public:void show(){
        cout<<"clsaa example"<<endl;
    }
}coutnew;
}
// using namespace cybrom;

int main(){
    
    cybrom::bhopal::student();
    cybrom::student();
    // show();
    // coutnew.show();
    // iostream obj;
    // obj.show();
}



